In [1]:
import pandas as pd

In [5]:
acris=pd.read_csv('../data/acris_sales_2020-2022.csv')

In [6]:
acris

,bbl,document_id,res_unit,total_units_doc,prop_units,document_amt,price_per_blgd,ppu,percent_trans,units_bought,...,z_percent_trans_ppu,boro,year,p1_count,p1_a_name,p1_a_address_1,p1_a_address_2,p1_a_city,p1_a_state,p1_a_zip
0,2032920019,2.020080e+15,31,31,1.0,4950000,4950000,159677,100.0,31.0,...,-0.206,2,2020,1,2968 PERRY LLC,C/O: THE MORGAN GROUP,"ONE SOUND SHORE DRIVE, SUITE 203",GREENWICH,CT,6830
1,1019370046,2.020081e+15,8,8,1.0,800000,800000,100000,100.0,8.0,...,-0.707,1,2020,2,"RONALD ADAMS, AS ADMINISTRATOR",234 W 132ND ST,NaN,NEW YORK,NY,100277804
2,1004350011,2.020090e+15,10,10,1.0,8500000,8500000,850000,100.0,10.0,...,0.815,1,2020,1,94 ST MARKS LLC,C/O: PENN SOUTH CAPITAL,"41 MADISON AVE, 31ST FLOOR",NEW YORK,NY,10010
3,2039230054,2.020091e+15,17,17,1.0,2200000,2200000,129412,100.0,17.0,...,-0.567,2,2020,1,1532 LELAND AVENUE INC,"35 E GRASSY SPRAIN RD, STE. 400","C/O VINCENT CASTELLANO, ESQ",YONKERS,NY,10710
4,1004180047,2.020092e+15,22,22,1.0,5350000,5350000,243182,100.0,22.0,...,-0.417,1,2020,1,109 ELDRIDGE LLC,"C/O KOSSOFF, PLLC","217 BROADWAY, SUITE 401",NEW YORK,NY,10007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,3018510021,2.021101e+15,7,7,1.0,1050000,1050000,150000,100.0,7.0,...,-0.824,3,2021,11,"GROSVENOR, FELICIA",82 MACDONOUGH STREET,NaN,BROOKLYN,NY,112162205
1999,3078190046,2.021110e+15,83,83,1.0,6733800,6733800,81130,60.0,49.8,...,-0.885,3,2021,1,"FRED & IVAN LEIST SPECIAL K, LLC",1710 CORTELYOU ROAD,NaN,BROOKLYN,NY,11226
2000,3033860058,2.021122e+15,6,6,1.0,975000,975000,162500,100.0,6.0,...,-0.772,3,2021,2,"CHIAFFITELLI, NANCY B",1517 JEFFERSON AVENUE,NaN,BROOKLYN,NY,11237
2001,3023110019,2.021123e+15,5,5,1.0,4000000,4000000,800000,100.0,5.0,...,1.862,3,2021,1,THE NORTH NINTH STREET GROUP LLC,164 CLYMER STREET,NaN,BROOKLYN,NY,11211
2002,3007970022,2.021123e+15,6,6,1.0,412500,412500,68750,50.0,3.0,...,-0.875,3,2021,2,"FERNANDEZ, LUIS M",446 46TH STREET,NaN,BROOKLYN,NY,11220

In [7]:
taxform=pd.read_csv('../data/file_201_data_sm_tract.csv')

In [8]:
taxform

,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10
0,1,447,25,NaN,2021,3674.0,NaN,NaN,NaN,NaN,93074.0,96825.0,NaN,28456.0,NaN
1,1,1079,61,NaN,2021,NaN,NaN,NaN,NaN,NaN,295046.0,15020.0,NaN,7709.0,NaN
2,1,1000,29,NaN,2021,NaN,NaN,129305065.0,NaN,NaN,159048807.0,39952316.0,11508372.0,5936267.0,NaN
3,1,1000,61,NaN,2021,NaN,NaN,NaN,NaN,714647.0,714647.0,1236523.0,NaN,62443.0,NaN
4,1,1001,1001,1001.0,2021,NaN,NaN,NaN,NaN,NaN,3625614.0,296800.0,76509.0,7819.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26881,5,3960,65,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26882,5,3960,7,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26883,5,3960,61,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26884,5,3960,65,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26885,5,7206,314,NaN,2021,NaN,NaN,NaN,NaN,NaN,210000.0,151896.0,NaN,NaN,NaN

In [12]:
taxdata=pd.DataFrame(taxform)

In [19]:
taxdata.dtypes

BORO                                       int64
BLOCK                                      int64
FROM_LOT                                   int64
TO_LOT                                   float64
FILING YEAR                                int64
REGULATED                                float64
UNREGULATED                              float64
OFFICE                                   float64
OWNER/RELATED SPACE                      float64
GOV. RENTAL SUBSIDIES                    float64
TOTAL INCOME FROM REAL ESTATE            float64
TOTAL EXPENSES                           float64
AMORTIZED LEASE AND TENANT IMP. COSTS    float64
REPAIRS AND MAINT.                       float64
tract_10                                 float64
BBL                                       object
dtype: object

In [20]:
taxdata=pd.read_csv('../data/file_201_data_sm_tract.csv', converters={'BORO':str, 'BLOCK':str,'FROM_LOT':str})

In [21]:
taxdata

,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10
0,1,00447,0025,NaN,2021,3674.0,NaN,NaN,NaN,NaN,93074.0,96825.0,NaN,28456.0,NaN
1,1,01079,0061,NaN,2021,NaN,NaN,NaN,NaN,NaN,295046.0,15020.0,NaN,7709.0,NaN
2,1,01000,0029,NaN,2021,NaN,NaN,129305065.0,NaN,NaN,159048807.0,39952316.0,11508372.0,5936267.0,NaN
3,1,01000,0061,NaN,2021,NaN,NaN,NaN,NaN,714647.0,714647.0,1236523.0,NaN,62443.0,NaN
4,1,01001,1001,1001.0,2021,NaN,NaN,NaN,NaN,NaN,3625614.0,296800.0,76509.0,7819.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26881,5,03960,0065,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26882,5,03960,0007,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26883,5,03960,0061,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26884,5,03960,0065,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26885,5,07206,0314,NaN,2021,NaN,NaN,NaN,NaN,NaN,210000.0,151896.0,NaN,NaN,NaN

In [26]:
taxdata['bbl']= taxdata['BORO'].map(str)+taxdata['BLOCK'].map(str)+taxdata['FROM_LOT'].map(str)

In [27]:
taxdata['bbl']

0        1004470025
1        1010790061
2        1010000029
3        1010000061
4        1010011001
            ...
26881    5039600065
26882    5039600007
26883    5039600061
26884    5039600065
26885    5072060314
Name: bbl, Length: 26886, dtype: object

In [33]:
MergeData=acris.merge(taxdata, how='right')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

0           144725
1          1107961
2          1100029
3          1100061
4        110011001
           ...
26881      5396065
26882       539607
26883      5396061
26884      5396065
26885     57206314
Name: BBL, Length: 26886, dtype: object

In [ ]:
df['full_date'] = df['day'].map(str) + '-' + df['month'].map(str) + '-' + df['year'].map(str)
print(df)

In [17]:
str(taxdata['FROM_LOT'])

'0          25\n1          61\n2          29\n3          61\n4        1001\n         ... \n26881      65\n26882       7\n26883      61\n26884      65\n26885     314\nName: FROM_LOT, Length: 26886, dtype: int64'